# IDE-specific files
.idea/
.vscode/
.DS_Store

# Build artifacts and temporary files
/android/build/
/android/.gradle/
/android/local.properties
/android/.cxx/
/android/app/build/
/android/app/src/main/assets/flutter_assets/
/ios/build/
/ios/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/linux/
/macos/
/windows/


# Environment variables
.env

# Metadata and cache
.metadata
.flutter-plugins
.flutter-plugins-dependencies

